/* Header */

.header {
    justify-content: space-between;
    padding: .8rem 3rem;
    z-index: 2;
}

nav.nav_menu {
    display: flex;
    align-items: center;
}


nav.nav_menu a {
    font-size: 1.6rem;
    padding: .5rem;
    color: var(--white);
    font-family: 'Pasajero';
    text-decoration: none;
    letter-spacing: .2rem;
    right: 0;
    margin-right: 2.5rem;
}
.sobreMi {
    background-color: #f2f2f2; /* Color de fondo */
    padding: 40px; /* Espaciado interior */
}

.container_content-sobreMi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_texto-sobreMi {
    flex: 1;
    padding-left: 20px; /* Cambiado a padding-left */
}
.image-container{
    display: flex;
    justify-content: flex-start;
    width: 25rem;
    margin-left: 0rem;
}
.text_sobreMi {
    font-size: 26px;
    color: #666; /* Color del texto del contenido */
}

.container--carrusel {
    flex: 1;
    align-items: center;
    width: 100%;
}

.title-carrusel {
    font-size: 20px;
    font-weight: bold;
    color: #333; /* Color del texto del título del carrusel */
}

/* Estilos para el carrusel */
#myCarousel {
    width: 100%;
    max-width: 500px; /* Tamaño máximo del carrusel */
}

.carousel-inner {
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: 100%;
}

/* Estilos para los controles del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333; /* Color de fondo de los controles */
    color: #fff; /* Color de los iconos de los controles */
}

/* Estilos para los indicadores del carrusel */
.carousel-indicators {
    margin-top: 10px;
}

.carousel-indicators li {
    background-color: #333; /* Color del indicador inactivo */
}

.carousel-indicators .active {
    background-color: #f2f2f2; /* Color del indicador activo */
}

nav.nav_menu a:hover,
nav.nav_menu a.active {
    color: var(--beaver);
    padding: .5rem;
    border-bottom: 1px solid var(--beaver);
    transition: all .5s;
}

nav.nav_menu.not-active a {
    display: flex;
}

nav.nav_menu.not-active .flags {
    display: flex;
    width: 7rem;
    justify-content: space-between;
    align-items: center;
}

nav.nav_menu.not-active .flags__item {
    filter: contrast(65%);
    cursor: pointer;
}

nav.nav_menu.not-active .flags__item img {
    width: 3rem;
    display: block;
}

div.btn {
    display: none;
}

/* Home */

.home {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 4rem;
    height: 100vh;
}

.container_image-home {
    width: 45%;
    padding-right: 4rem;
}
.logo_home{
    width: 65%;
}

.image_home {
    object-fit: contain;
}

.home_info {
    width: 100%;
    padding-left: 5rem;
}

.container_text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: .4rem;
    text-align: start;
    margin-top: 0rem;

}

.home_text-1 {
    font-size: 3.5rem;
    margin-left: .4rem;
    font-weight: bold;
}

.home_text-2 {
    font-size: 5rem;
    font-weight: bold;
    color: var(--white);
}

.home_text-3 {
    font-family: 'Pasajero', sans-serif; /* Cambia a una fuente con estilo */
    font-size: 1.7rem;
    letter-spacing: .1rem;
    width: auto; /* Cambia el ancho para que se ajuste automáticamente al contenido */
    margin: 0 auto 0 0;
    text-align: left;
    overflow: hidden;
    font-weight: bold;
    color: #ffffff;
    background-color: #1e452d;
    padding-top: 0.2rem;
    white-space: nowrap;
    animation: typing 3s steps(20) forwards; /* Ajusta la velocidad y el número de pasos */
    border-radius: 15px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 26%; /* Mueve el texto hacia la izquierda */
    }
}

.container_parrafo-info {
    display: inline-block;
    text-align: start;
}

.container_parrafo-info p {
    font-family: 'Pasajero';
    color: var(--orange);
    font-size: 1.7rem;
    letter-spacing: 1px;
    line-height: 2rem;
}

.container_button {
    display: flex;
}



.cv_button:hover {
    background: var(--black);
    box-shadow: 0px 2px 10px #141414;
    transition: 1s transform;
}

.contact_button {
    display: inline-block;
    background-color: var(--beaver);
    border-radius: 3rem;
    padding: .7rem 4rem .6rem 4rem;
    color: var(--jet);
    font-family: 'Pasajero';
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 2rem 0 2rem 1rem;
    border: none;
    cursor: pointer;
    transition: .4s;
}

.contact_button:hover {
    background-color: #776254;
    box-shadow: 0px 2px 10px #141414;
    transition: 1s transform;
}
.container--carrusel {
    justify-content: center;
}


/* Sobre Mí */

.sobreMi {
    padding-bottom: 4rem;
}

.sobreMi h1 {
    margin-top: 2rem;
    font-size: 3rem;
}

.container_content-sobreMi {
    flex-direction: row-reverse;
}

.container_texto-sobreMi {
    width: 70%;
    padding: 0 5% 0 3rem;
}

.title_sobreMi {
    text-align: start;
    font-size: 3.8rem;
    letter-spacing: .3rem;
    font-weight: bold;
    color: #333; /* Color del texto del título */
    text-align: center; /* Centrar el texto horizontalmente */
}

.texto_sobreMi {
    text-align: start;
    font-size: 3rem;
    letter-spacing: .2rem;
    line-height: 2.8rem;
}
/* Habilidades */

.habilidades {
    padding-bottom: 4rem; /* Redujimos el espacio inferior */
    position: relative;
}

.habilidades h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3.8rem;
    font-weight: bold;
}

.cards_container--habilidades {
    display: flex;
    flex-wrap: wrap; /* Permitimos que las tarjetas se envuelvan a la siguiente fila */
    justify-content: space-between; /* Alineamos las tarjetas con espacio entre ellas */
    padding: 3rem;
    margin-top: 3rem; /* Redujimos el margen superior */
}

.cards--habilidades {
    flex: 1;
    max-width: calc(50% - 5rem); /* Para tres columnas con espaciado de 20px */
    margin: 0 10px 20px; /* Espaciado entre las tarjetas y margen inferior para las tres tarjetas superiores */
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px; /* Bordes redondeados */
    overflow: hidden; /* Evitamos que las imágenes se desborden */
}

/* Estilos para las dos tarjetas en la parte inferior */
.cards--habilidades:last-child,
.cards--habilidades:nth-last-child(2) {
    margin-bottom: 0; /* Eliminamos el margen inferior para las dos últimas tarjetas */
}

.cards--habilidades:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agregamos sombra al pasar el mouse */
}

.cards--habilidades img {
    max-width: 100%;
    height: auto;
}

.cards--habilidades p {
    font-size: 1.4rem; /* Ajustamos el tamaño del texto */
    margin-top: 0.8rem;
}



/* Formación */

.formacion {
    padding-bottom: 2rem;
    position: relative;
}

.formacion h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3.8rem;
    font-weight: bold;
}

/* Proyectos */
.proyectos{
    padding-bottom: 0rem;
}

.proyectos h1 {
    padding-top: 8rem;
    font-size: 1rem;
}

.puntos1-proyectos {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 20rem 0 0  1%;
    background-attachment: fixed;
}

.puntos2-proyectos {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: -3rem 0 0 93%;
}

.cards_container--proyectos {
   
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-content: flex-start;
    margin-bottom: 1rem;
}

.container_textCard--proyectos{
    width: 100%;
    background: #1e452d;
    border-radius: 20px;
    
}
.container_textCard--proyectos h2 {
    padding-top: 1rem;
    font-family: 'Pasajero';
    letter-spacing: .1rem;
    color: var(--white);
    font-weight: bold;
    display: inline;
}
.container_textCard--proyectos p {
    font-size: 2rem;
}

.cards--proyectos {
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.container_btn--proyectos button {
    width: auto;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

/* Contacto */

.contacto h1 {
    padding-bottom:2rem;
    font-size: 3.8rem;
    font-weight: bold;
}

.container_box--contacto {
    margin-top: 2rem;
    display: flex;
    justify-content:center;
}
.form-contact input{
    font-size: 2rem;
    color: #fff;
}
.container_img--contacto {
    display: inline-block;
    width: 60rem;
    display: flex;
    justify-content: center;
}

.container_img--contacto img {
    width: 50rem;
    object-fit: contain;
}

.container--contacto {
    width: 80%;
    margin: 0;
    padding: 4rem 3rem;
}
.mapa-contenedor{
    padding-bottom: 26.25%;
   
}

.container_numeros--footer{
    font-size: 2rem;
}
.container_text--footer span {
    font-family: 'Pasajero';
    font-size: 2rem;
    letter-spacing: 1px;
}
.container_tittle--redes{
    font-size: 2rem;
}
.container_redes-footer img {
    width: 5.5rem;
}